In [1]:
#Import Library
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_train = pd.read_csv('home-credit-default-risk/application_train.csv')
df_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [4]:
df_train.isna().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [5]:
df_train = df_train.dropna(how='any')

In [6]:
df_train.duplicated().sum()

0

In [7]:
df_train_key = df_train[['SK_ID_CURR','TARGET']]

In [10]:
df_train_key

        SK_ID_CURR  TARGET
71          100083       1
124         100145       1
152         100179       1
161         100190       1
255         100295       0
...            ...     ...
307358      456083       1
307359      456084       1
307407      456140       0
307456      456195       1
307482      456226       1

[8602 rows x 2 columns]

In [9]:
df_train_key['TARGET'] = df_train_key['TARGET'].replace({1: 0, 0: 1})

In [11]:
df_train = df_train.drop(columns=['SK_ID_CURR', 'TARGET'])

In [12]:
df_train.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
71,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,463500.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
124,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,198000.0,Family,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
152,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5,675000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
161,Cash loans,M,Y,N,0,162000.0,263686.5,24781.5,238500.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
255,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,774000.0,Unaccompanied,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0

In [13]:
df_train_nums = df_train.select_dtypes(include=['number']).columns
df_train_cats = df_train.select_dtypes(include=['object']).columns

In [14]:
df_train_nums

Index(['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=104)

In [15]:
df_train_cats

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [ ]:
# Univariate Analysis menggunakan Violin Plot
import math
plt.figure(figsize=(50,200))
for i in range(0, len(df_train_nums)):
    plt.subplot(math.ceil(len(df_train_nums)/5), 5, i+1)
    sns.violinplot(y=df_train[df_train_nums[i]], orient='v')
    plt.tight_layout()

In [ ]:
#Unvariat Analysis dengan Density Plot
plt.figure(figsize=(50, 200))
for i in range(0, len(df_train_nums)):
    plt.subplot(math.ceil(len(df_train_nums)/5), 5, i+1)
    sns.distplot(df_train[df_train_nums[i]], color='gray')
    plt.tight_layout()

In [16]:
df_train[df_train_nums] = np.log(df_train[df_train_nums] + (df_train[df_train[df_train_nums] > 0][df_train_nums].min() / 2))

In [ ]:
# Univariate Analysis menggunakan Violin Plot
import math
plt.figure(figsize=(50,200))
for i in range(0, len(df_train_nums)):
    plt.subplot(math.ceil(len(df_train_nums)/5), 5, i+1)
    sns.violinplot(y=df_train[df_train_nums[i]], orient='v')
    plt.tight_layout()

In [ ]:
#Unvariat Analysis dengan Density Plot
plt.figure(figsize=(50, 200))
for i in range(0, len(df_train_nums)):
    plt.subplot(math.ceil(len(df_train_nums)/5), 5, i+1)
    sns.distplot(df_train[df_train_nums[i]], color='gray')
    plt.tight_layout()

In [17]:
df_train = pd.get_dummies(df_train, columns=['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'])

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
71,-0.693147,11.698367,13.298212,10.150103,13.093964,-4.625169,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,True,False
124,0.405465,12.298538,12.553999,9.795248,12.303653,-3.963579,NaN,NaN,NaN,NaN,...,False,False,False,False,False,True,False,False,True,False
152,-0.693147,12.298538,13.455258,10.905740,13.455258,-3.458593,NaN,NaN,NaN,NaN,...,False,False,False,True,False,False,False,False,True,False
161,-0.693147,12.094443,12.564399,10.163551,12.472276,-3.782311,NaN,NaN,NaN,NaN,...,False,False,False,False,False,True,False,False,True,False
255,0.405465,12.396176,13.856369,10.379434,13.587982,-2.622061,NaN,NaN,NaN,NaN,...,False,False,False,False,False,True,False,False,True,False

In [20]:
df_train.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
71,-0.693147,11.698367,13.298212,10.150103,13.093964,-4.625169,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,True,False,True,False
124,0.405465,12.298538,12.553999,9.795248,12.303653,-3.963579,0.0,0.0,0.0,0.0,...,False,False,False,False,False,True,False,False,True,False
152,-0.693147,12.298538,13.455258,10.905740,13.455258,-3.458593,0.0,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,True,False
161,-0.693147,12.094443,12.564399,10.163551,12.472276,-3.782311,0.0,0.0,0.0,0.0,...,False,False,False,False,False,True,False,False,True,False
255,0.405465,12.396176,13.856369,10.379434,13.587982,-2.622061,0.0,0.0,0.0,0.0,...,False,False,False,False,False,True,False,False,True,False

In [19]:
df_train = df_train.fillna(0)

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = df_train
y = df_train_key['TARGET']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Jumlah data train:", len(X_train))
print("Jumlah data test:", len(X_test))

Jumlah data train: 6881
Jumlah data test: 1721

In [22]:
#Logistic Regression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model_logreg = LogisticRegression()
model_logreg.fit(X_train, y_train)
y_pred_logreg = model_logreg.predict(X_test)
accuracy_logreg = accuracy_score(y_test, y_pred_logreg)
y_pred_logreg = model_logreg.predict(X_test)
accuracy_logreg = accuracy_score(y_test, y_pred_logreg)
precision_logreg = precision_score(y_test, y_pred_logreg)
recall_logreg = recall_score(y_test, y_pred_logreg)
f1_logreg = f1_score(y_test, y_pred_logreg)
cm_logreg = confusion_matrix(y_test, y_pred_logreg)
roc_auc_logreg = roc_auc_score(y_test, model_logreg.predict_proba(X_test)[:,1])

In [23]:
#Support Vector Machine
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
model_svm = SVC()
model_svm.fit(X_train, y_train)
y_pred_svm = model_svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm)
y_pred_svm = model_svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm)
precision_svm = precision_score(y_test, y_pred_svm)
recall_svm = recall_score(y_test, y_pred_svm)
f1_svm = f1_score(y_test, y_pred_svm)
cm_svm= confusion_matrix(y_test, y_pred_svm)

In [24]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
model_dt = DecisionTreeClassifier()
model_dt.fit(X_train, y_train)
y_pred_dt = model_dt.predict(X_test)
accuracy_dt = accuracy_score(y_test, y_pred_dt)
y_pred_dt = model_dt.predict(X_test)
accuracy_dt = accuracy_score(y_test, y_pred_dt)
precision_dt = precision_score(y_test, y_pred_dt)
recall_dt = recall_score(y_test, y_pred_dt)
f1_dt = f1_score(y_test, y_pred_dt)
cm_dt= confusion_matrix(y_test, y_pred_dt)
roc_auc_dt = roc_auc_score(y_test, model_dt.predict_proba(X_test)[:,1])

In [25]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
y_pred_rf = model_rf.predict(X_test)
accuracy_rf = accuracy_score(y_test, y_pred_rf)
y_pred_rf = model_rf.predict(X_test)
accuracy_rf = accuracy_score(y_test, y_pred_rf)
precision_rf = precision_score(y_test, y_pred_rf)
recall_rf = recall_score(y_test, y_pred_rf)
f1_rf = f1_score(y_test, y_pred_rf)
cm_rf = confusion_matrix(y_test, y_pred_rf)
roc_auc_rf = roc_auc_score(y_test, model_rf.predict_proba(X_test)[:,1])

In [26]:
# K-Nearest Neighbors (KNN)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score
model_knn = KNeighborsClassifier(n_neighbors=5)
model_knn.fit(X_train, y_train)
y_pred_knn = model_knn.predict(X_test)
accuracy_knn = accuracy_score(y_test, y_pred_knn)
y_pred_knn = model_knn.predict(X_test)
accuracy_knn = accuracy_score(y_test, y_pred_knn)
precision_knn = precision_score(y_test, y_pred_knn)
recall_knn = recall_score(y_test, y_pred_knn)
f1_knn = f1_score(y_test, y_pred_knn)
cm_knn = confusion_matrix(y_test, y_pred_knn)
roc_auc_knn = roc_auc_score(y_test, model_knn.predict_proba(X_test)[:,1])

In [27]:
#GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier
model_gb = GradientBoostingClassifier()
model_gb.fit(X_train, y_train)
y_pred_gb = model_gb.predict(X_test)
accuracy_gb = accuracy_score(y_test, y_pred_gb)
y_pred_gb = model_gb.predict(X_test)
accuracy_gb = accuracy_score(y_test, y_pred_gb)
precision_gb = precision_score(y_test, y_pred_gb)
recall_gb = recall_score(y_test, y_pred_gb)
f1_gb = f1_score(y_test, y_pred_gb)
cm_gb = confusion_matrix(y_test, y_pred_gb)
roc_auc_gb = roc_auc_score(y_test, model_gb.predict_proba(X_test)[:,1])

In [33]:
df_evaluasi = pd.DataFrame({
    'Model' : ['Logistic Regression','Decision Tree','Random Forest',
               'Support Vector Machine','K-Nearest Neighbor',
               'Gradient Boositing Classifier'],
    'Akurasi' : [accuracy_logreg,accuracy_dt,accuracy_rf,
                accuracy_svm,accuracy_knn,accuracy_gb],
    'Precision' : [precision_logreg,precision_dt,precision_rf,
                  precision_svm,precision_knn,precision_gb],
    'Recall' : [recall_logreg,recall_dt,recall_rf,recall_svm,
               recall_knn,recall_gb],
    'F1 Score' : [f1_logreg,f1_dt,f1_rf,f1_svm
                 ,f1_knn,f1_gb]
})
df_evaluasi.round(3)

                           Model  Akurasi  Precision  Recall  F1 Score
0            Logistic Regression    0.944      0.946   0.998     0.971
1                  Decision Tree    0.877      0.949   0.919     0.934
2                  Random Forest    0.945      0.945   1.000     0.972
3         Support Vector Machine    0.945      0.945   1.000     0.972
4             K-Nearest Neighbor    0.943      0.946   0.997     0.971
5  Gradient Boositing Classifier    0.945      0.946   0.998     0.972